# 最初にすべての階層のファイルを無視します
# 階層は必要なだけ追加する
### all ignore ###
/*
/.**

# .gitignoreは上から解釈されていくので
# 管理対象のファイルをホワイトリストのように追記します
# 例：!/.vimrc
### not ignore ###

!/.bashrc
!/.bash_aliases
!/.bin/
!/.bin/**
!/.github/
!/.github/**

!/LICENCE
!/README.md
!.gitignore
